<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<h1>MukuWiki</h1>

<h2>Short Quick Connected Notes</h2>

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}


{% if user.username %}

Logged in as {{ user.username }}.
<a href="{% url 'logout' %}">Logout</a>

{% else %}

Not logged in.
<a href="{% url "socialauth_begin" "twitter" %}{% if next %}?next={{ next }}{% endif %}">Login with Twitter</a>

{% endif %}

<p>
{% if user.username and not is_github_associated %}
To use mukuwiki <a href="{% url "socialauth_begin" "github" %}{% if next %}?next={{ next }}{% endif %}">associate Github account</a>.
{% endif %}
</p>

<p>
Interested in news about MukuWiki? Subscribe via email:

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input value="Send" type="submit">
</form>
</p>

</body>
</html>
