{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


{% if user.username %}

Logged in as {{ user.username }}.
<a href="{% url 'logout' %}">Logout</a>

{% else %}

Not logged in.
<a href="{% url "socialauth_begin" "twitter" %}{% if next %}?next={{ next }}{% endif %}">Login with Twitter</a>

{% endif %}

<p>
{% if user.username and not is_github_associated %}
To use mukuwiki <a href="{% url "socialauth_begin" "github" %}{% if next %}?next={{ next }}{% endif %}">associate Github account</a>.
{% endif %}
</p>

